<form [formGroup]="scheduleForm">
  <div class="p-field grid">
    <div class="col-4">
      <div class="p-field mb-3">
        <label for="sendDateTime">Send date:</label>
        <p-calendar id="sendDateTime" formControlName="sendDateTime" [showTime]="true" [showIcon]="true"></p-calendar>
      </div>
      <div class="p-field mb-3">
        <label for="repeat-types">Repeat:</label>
        <p-dropdown id="repeat-types" (onChange)="whenRepeatTypeChange()" [options]="repeatTypeLabels" formControlName="repeatTypeLabel" placeholder="Select repeat type" optionLabel="name"></p-dropdown>
      </div>
      <div class="p-field mb-3">
        <label for="endDate">End date:</label>
        <p-calendar id="endDate" formControlName="endDate" [showIcon]="true"></p-calendar>
      </div>
    </div>
  </div>
</form>
