<ng-template *ngIf="showContent; then content else progressSpinner"></ng-template>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-scrollTop></p-scrollTop>

<ng-template #content>
  <div class="text-xl p-fluid">

    <p-divider align="center">
      <span class="p-tag text-xl">InfoMail</span>
    </p-divider>

    <div class="card fluid bg-primary-reverse p-3 text-3xl border-left-3 border-0">
      <b class="text-black-alpha-90 text-4xl">Subject:</b> {{emailWithTemplate.template.subject}}
    </div>
    <p-divider align="center">
      <span class="p-tag bg-primary-reverse text-base">Sent at</span>
    </p-divider>
    <!--    <b class="text-primary text-2xl">Sent at:</b>-->
    <p class="my-2 p-2 w-50 text-white text-center bg-primary-reverse border-bottom-3 border-0">
      {{emailWithTemplate.email.dateTime | date:'yy-MM-dd HH:mm:ss'}}</p>
    <div class="fluid p-3 bg-primary-reverse">
      <div class="mb-2 ml-1"><i class="pi pi-user"></i> Recipients:</div>
      <p-tabView class="">

        <p-tabPanel header="TO" *ngIf="recipientsTO">
          <p-scrollPanel class="select-all" [style]="{width: '100%', height: '75px'}">
            {{recipientsTO}}
          </p-scrollPanel>
        </p-tabPanel>

        <p-tabPanel header="CC" *ngIf="recipientsCC">
          <p-scrollPanel class="select-all" [style]="{width: '100%', height: '75px'}">
            {{recipientsCC}}
          </p-scrollPanel>
        </p-tabPanel>

        <p-tabPanel header="BCC" *ngIf="recipientsBCC">
          <p-scrollPanel class="select-all" [style]="{width: '100%', height: '75px'}">
            {{recipientsBCC}}
          </p-scrollPanel>
        </p-tabPanel>
      </p-tabView>
    </div>


    <div class="p-field mt-4">
      <label for="template-body" class="font-semibold p-2 text-2xl">Body: </label><br>

      <textarea id="template-body" class="mt-2"
                pInputTextarea
                placeholder="Template body"
                [disabled]="true"
                [ngModel]="emailWithTemplate.template.body"
                [autoResize]="true" rows="10">
      </textarea>
    </div>

    <div class="grid fluid justify-content-center mt-4">
      <span class="p-buttonset">
    <button pButton type="button" routerLink="/history"  label="Return"
            icon="pi pi-sign-in"></button>

    <button pButton type="button" class="p-button-danger" (click)="deleteCurrentEmail()"
            label="Delete" icon="pi pi-trash"></button>

    <button *ngIf="! emailWithTemplate.email.status" pButton type="button" (click)="retry()"
            label="Resend"
            icon="pi pi-sync"></button>
</span>
    </div>

  </div>
</ng-template>

<ng-template #progressSpinner>
  <div class="grid fluid h-screen">
    <p-progressSpinner class="mx-auto my-auto"></p-progressSpinner>
  </div>
</ng-template>
