<app-header></app-header>
<!-- TODO: ХЕАДЕР!-->
<!--
<div class="surface-50">
  <div class="flex justify-content-between flex-wrap">
    <div class="flex align-items-center justify-content-center">
      <p-button styleClass="p-button-text" routerLink="/">
        <p class="text-4xl w-10 my-0">InfoMail</p>
      </p-button>
    </div>
    &lt;!&ndash;    <div class="flex align-items-center justify-content-center">&ndash;&gt;
    &lt;!&ndash;      <p-button (click)="onLogin()" label="Log in" class="mr-2" styleClass="p-button-link"></p-button>&ndash;&gt;
    &lt;!&ndash;      <button pButton pRipple type="button" label="Sign up" class="p-button-rounded"></button>&ndash;&gt;
    &lt;!&ndash;    </div>&ndash;&gt;
  </div>
</div>
-->

<div class="grid">
  <div class="col-offset-9 col-3">
    <app-login-form></app-login-form>
  </div>
</div>

