<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-scrollTop></p-scrollTop>

<div class="card">

  <p-table #dt [value]="tasks" [rows]="numberOfRows" [paginator]="true"
           [lazy]="true" (onLazyLoad)="loadTasks($event)" [totalRecords]="totalNumberOfRows"
           [(selection)]="selectedTasks" styleClass="p-datatable-striped" [rowHover]="true"
           dataKey="id" [loading]="loading" [showCurrentPageReport]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

    <!--  Table captions  -->
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0 text-3xl">Scheduled tasks:</h5>

        <button pButton pRipple [label]="'Delete'" icon="pi pi-trash" class="p-button-danger"
                [disabled]="!selectedTasks || !selectedTasks.length"></button>
      </div>
    </ng-template>

    <!--  Table header  -->
    <ng-template pTemplate="header">
      <tr class="w-100">

        <th class="w-3rem">
          <!--          <p-checkbox [(ngModel)]="check" [binary]="true" (onChange)="selectOrUnselectAllTasks()"></p-checkbox>-->
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>


        <th class="w-20rem">Subject
        </th>

        <th pSortableColumn="state">State
          <p-sortIcon field="state"></p-sortIcon>
        </th>

        <th pSortableColumn="startAt">Start at
          <p-sortIcon field="startAt"></p-sortIcon>
        </th>

        <th>Description</th>

        <th pSortableColumn="endAt">End at
          <p-sortIcon field="endAt"></p-sortIcon>
        </th>

        <th></th> <!-- Column for delete/pause buttons -->

      </tr>
    </ng-template>
    <!--    Table body-->
    <ng-template pTemplate="body" let-task>
      <tr>

        <td>
          <p-tableCheckbox [value]="task"></p-tableCheckbox>
        </td>

        <td>
          <button pButton pRipple type="button" (click)="openTaskView(task.jobName)"
                  class="p-button-text">{{sliceLongString(task.subject, maxSubjectLength)}}</button>
        </td>

        <td>
          <p-tag styleClass="mr-2" [severity]="task.state!=='PAUSED'?'primary':'danger'">{{task.state}}</p-tag>
        </td>

        <td>{{task.startAt ? (task.startAt | date : 'yy-MM-dd HH:mm') : '—'}}</td>

        <td>
          {{task.description ? sliceLongString(task.description, maxSubjectLength) : '—'}}
        </td>

        <td>{{task.endAt ? (task.endAt | date : 'yy-MM-dd HH:mm') : '—'}}</td>

        <td>
          <div class="flex justify-content-end" *ngIf="task.state !== 'COMPLETED'">

            <div *ngIf="task.state === 'PAUSED'">
              <button pButton pRipple icon="pi pi-play" (click)="resumeTask(task.jobName)"
                      class="p-button-rounded p-button-warning  mr-2">
              </button>
            </div>

            <div *ngIf="task.state !== 'PAUSED'">
              <button pButton
                      pRipple icon="pi pi-pause" (click)="pauseTask(task.jobName)"
                      class="p-button-rounded p-button-warning  mr-2">
              </button>
            </div>

            <button pButton pRipple (click)="deleteTask(task.jobName)" icon="pi pi-trash"
                    class="p-button-rounded p-button-danger"></button>

          </div>
        </td>

      </tr>
    </ng-template>
    <!--     Summary at the bottom of the table-->
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are {{totalNumberOfRows ? totalNumberOfRows : 0}} tasks.
      </div>
    </ng-template>

  </p-table>
</div>
