<div class="card">
  <p-table [value]="templates" [(selection)]="selectedTemplates">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0 text-3xl">My templates:</h5>

        <button pButton pRipple [label]="'Delete'" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedTemplates()" [disabled]="!selectedTemplates || !selectedTemplates.length"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="w-3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th class="w-18rem">Name</th>
        <th>Subject</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-template>
      <tr>
        <td>
          <p-tableCheckbox [value]="template"></p-tableCheckbox>
        </td>
        <td>{{sliceText(template.name, 25)}}</td>
        <td>{{sliceText(template.subject, 90)}}</td>
        <td>
          <div class="flex justify-content-end">
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editTemplate(template)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTemplate(template)"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Confirmation for delete/repeat actions -->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<!-- Popup messages -->
<p-toast></p-toast>
