<main class="bg-primary-reverse">
  <div class="fluid h-screen grid">

    <div id="navbar" class="col-2 surface-100 m-0 p-1">
    </div>

    <div id="content" class="border-top-3 col-7 p-4 default-background">
      <div class="p-4 w-full">
        <label class="block text-4xl p-2">Shared Template</label>

        <app-template-view2 [sharingId]="sharingId" (onError)="openMyTemplates()"></app-template-view2>

        <div class="grid fluid justify-content-center mt-2">
          <span class="p-buttonset">
            <button pButton
                    type="button" icon="pi pi-file"
                    (click)="saveTemplate()"
                    label="Add to templates"
                    class="p-button-rounded mr-2">
            </button>
            <button pButton
                    type="button"
                    (click)="openMyTemplates()"
                    label="Go to my templates"
                    class="p-button-rounded">
            </button>
          </span>
        </div>

      </div>

    </div>

  </div>
</main>
