<div class="p-fluid">
  <div class="p-field grid" *ngIf="allowSharing && template.userEmail && template.sharingLink">
    <div class="col-4">
      <label for="template-owner">Creator</label>
      <input type="text" pInputText id="template-owner" [disabled]="true" [(ngModel)]="template.userEmail">
    </div>
    <div class="col-offset-2 col-6">
      <label for="sharingLink">Sharing link</label>
      <div class="p-inputgroup">
        <input type="text" pInputText id="sharingLink" [disabled]="true" [(ngModel)]="template.sharingLink">
        <button type="button" pButton pRipple label="Copy" (click)="copySharingLink()"></button>
      </div>
    </div>
  </div>
  <div class="p-field" *ngIf="template.name || showEmptyName">
    <label for="template-name">Name</label>
    <input type="text" id="template-name"
           pInputText
           placeholder="Template name"
           [disabled]="! allowEdit"
           [(ngModel)]="template.name"
           required autofocus />
    <small id="template-name-help"
           [hidden]="isValidStroke(template.name)" class="p-error font-bold text-sm  mt-2">{{NOT_VALID_STROKE}}</small>
  </div>
  <div class="p-field">
    <label for="template-subject">Subject</label>
    <input type="text" id="template-subject"
           pInputText
           placeholder="Template subject"
           [disabled]="! allowEdit"
           [(ngModel)]="template.subject"
           required autofocus />
    <small id="template-subject-help"
           [hidden]="isValidStroke(template.subject)" class="p-error font-bold text-sm  mt-2">{{NOT_VALID_STROKE}}</small>
  </div>
  <div class="p-field">
    <label for="template-body">Body</label>
    <textarea id="template-body"
              pInputTextarea
              placeholder="Template body"
              [disabled]="! allowEdit"
              [(ngModel)]="template.body"
              required rows="3" [autoResize]="true">
  </textarea>
    <br [hidden]="isValidStroke(template.body)">
    <small id="template-body-help"
           [hidden]="isValidStroke(template.body)" class="p-error font-bold text-sm  mt-2">{{NOT_VALID_STROKE}}</small>
  </div>
</div>
