<ng-template *ngIf="showContent; then content else progressSpinner"></ng-template>


<ng-template #progressSpinner>
  <div class="grid fluid h-screen">
    <p-progressSpinner class="mx-auto my-auto"></p-progressSpinner>
  </div>
</ng-template>


<ng-template #content>
  <div class="text-xl p-fluid">

    <p-divider align="center">
      <span class="p-tag text-xl">InfoMail</span>
    </p-divider>

    <div class="card fluid bg-primary-reverse p-3 text-3xl border-left-3 border-0">
      <b class="text-4xl">Creating
        <p-chip class="text-black-alpha-90 p-2 font-italic">new</p-chip>
        email:</b>
    </div>

    <div class="dialog-body mt-3">
      <!--Email form-->
      <form [formGroup]="emailForm" (ngSubmit)="onSendEmail()">

        <div formGroupName="recipients">
          <div class="fluid p-3 bg-primary-reverse border-left-3 border-0">
            <div class="mb-2 ml-1"><i class="pi pi-user"></i> Recipients:</div>

            <p-tabView>

              <p-tabPanel header="TO">
                <p-scrollPanel class="select-all" [style]="{width: '100%', height: '90px'}">
                  <p-chips styleClass="p-3"
                           (onAdd)="validateRecipients('recipientsTO')"
                           formControlName="recipientsTO"
                  ></p-chips>
                </p-scrollPanel>
              </p-tabPanel>

              <p-tabPanel header="CC">
                <p-scrollPanel class="select-all" [style]="{width: '100%', height: '90px'}">
                  <p-chips styleClass="p-3"
                           (onAdd)="validateRecipients('recipientsCC')"
                           formControlName="recipientsCC"
                           email></p-chips>
                </p-scrollPanel>
              </p-tabPanel>

              <p-tabPanel header="BCC">
                <p-scrollPanel class="select-all" [style]="{width: '100%', height: '90px'}">
                  <p-chips styleClass="p-3"
                           (onAdd)="validateRecipients('recipientsBCC')"
                           formControlName="recipientsBCC"
                           email></p-chips>
                </p-scrollPanel>
              </p-tabPanel>

            </p-tabView>
          </div>
        </div>

        <div class="grid mt-1 p-3">

          <div formGroupName="emailTemplate" class="col-7">
            <div class="form-group">
              <h4>Email subject:</h4>
              <textarea rows="2" cols="80" pInputTextarea formControlName="subject"></textarea>
            </div>
          </div>

          <div class="form-group col-5" *ngIf="showTemplatesOptions">
            <span class="inline-block flex"><h4 class="inline-flex p-float-label">Use existed template?:</h4>
            <p-inputSwitch [(ngModel)]="usedExistedTemplate" class="p-4 mt-1"
                           [ngModelOptions]="{standalone: true}"></p-inputSwitch></span>

            <p-dropdown [options]="templatesAsOptions" [disabled]="isSelectNotEnabled"
                        (onChange)="changeTemplate(selectedTemplate.id)"
                        *ngIf="usedExistedTemplate" class="mt-3"
                        [(ngModel)]="selectedTemplate" [ngModelOptions]="{standalone: true}"
                        optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
                        placeholder="Select a template">

              <ng-template pTemplate="selectedItem">
                <div *ngIf="selectedTemplate">
                  <div>{{selectedTemplate.name}}</div>
                </div>
              </ng-template>

              <ng-template let-template pTemplate="item">
                <div>
                  <div>{{template.name}}</div>
                </div>
              </ng-template>

            </p-dropdown>
          </div>

        </div>

        <div class="form-group mt-5" formGroupName="emailTemplate">
          <div class="p-field mt-2 pt-1 bg-primary-reverse border-left-3 border-0">
            <div class="ml-4 mt-3 text-2xl font-bold">Email body:</div>
            <div class="px-7 pb-3 mt-4">
              <div class="text-lg text-white default-background">
                <angular-editor id="template-body" [config]="editorConfig" class="input" formControlName="body"
                                placeholder="Enter text...">
                </angular-editor>
              </div>
            </div>
            <!--      <p>Value: {{emailWithTemplate.template.body}}</p>-->
          </div>
        </div>


        <div class="form-group">
          <h4>Enable schedule settings:</h4>
          <p-inputSwitch (onChange)="switchShowScheduleForm()"
                         formControlName="isSendNotNow"></p-inputSwitch>
          <app-schedule-form *ngIf="isShowScheduleForm()"
                             (formGroupEE)="emailForm.setControl('emailSchedule', $event)"></app-schedule-form>
        </div>

        <!--Email form buttons -->
        <div class="modal-footer mt-4 text-xl">
          <p-button label="Send" type="submit"></p-button>
        </div>

      </form>
    </div>
  </div>
</ng-template>
