<div class="text-xl p-fluid">

  <p-divider align="center">
    <span class="p-tag text-xl">InfoMail</span>
  </p-divider>

  <div class="card fluid bg-primary-reverse p-3 text-3xl border-left-3 border-0">
    <b class="text-4xl">Creating
      <p-chip class="text-black-alpha-90 p-2 font-italic">new</p-chip>
      email:</b>
  </div>

  <div class="dialog-body mt-3">
    <!--Email form-->
    <form [formGroup]="emailForm" (ngSubmit)="onSendEmail()">

      <div formGroupName="recipients">
        <div class="fluid p-3 bg-primary-reverse">
          <div class="mb-2 ml-1"><i class="pi pi-user"></i> Recipients:</div>

          <p-tabView>

            <p-tabPanel header="TO">
              <p-scrollPanel class="select-all" [style]="{width: '100%', height: '90px'}">
                <p-chips styleClass="p-3"
                         (onAdd)="validateRecipients('recipientsTO')"
                         formControlName="recipientsTO"
                         ></p-chips>
              </p-scrollPanel>
            </p-tabPanel>

            <p-tabPanel header="CC">
              <p-scrollPanel class="select-all" [style]="{width: '100%', height: '90px'}">
                <p-chips styleClass="p-3"
                         (onAdd)="validateRecipients('recipientsCC')"
                         formControlName="recipientsCC"
                         email></p-chips>
              </p-scrollPanel>
            </p-tabPanel>

            <p-tabPanel header="BCC">
              <p-scrollPanel class="select-all" [style]="{width: '100%', height: '90px'}">
                <p-chips styleClass="p-3"
                         (onAdd)="validateRecipients('recipientsBCC')"
                         formControlName="recipientsBCC"
                         email></p-chips>
              </p-scrollPanel>
            </p-tabPanel>

          </p-tabView>
        </div>
      </div>

      <div formGroupName="emailTemplate">
        <div class="form-group">
          <h4>Email subject:</h4>
          <textarea rows="2" cols="80" pInputTextarea formControlName="subject"></textarea>
        </div>
        <div class="form-group">
          <h4>Email body:</h4>
          <span class="p-float-label">
          <textarea rows="5" cols="80" pInputTextarea formControlName="body"></textarea>
        </span>
        </div>
      </div>

      <div class="form-group">
        <h4>Enable schedule settings:</h4>
        <p-inputSwitch (onChange)="switchShowScheduleForm()"
                       formControlName ="isSendNotNowControl"></p-inputSwitch>
        <app-schedule-form *ngIf="isShowScheduleForm" (formGroupEE)="emailForm.setControl('emailSchedule', $event)" ></app-schedule-form>
      </div>

      <!--Email form buttons -->
      <div class="modal-footer mt-4 text-xl">
        <p-button label="Send" type="submit"></p-button>
      </div>

    </form>
  </div>
</div>
