/* You can add global styles to this file, and also import other style files */
* {
  font-family: Segoe UI;
}

html, body {
  margin: 0;
  padding: 0;
}

.default-background {
  background-color: #1e1e1e;
}

::selection {
  color: #adadad;
  background-color: #2c2c2c;
}
